body{
    background-size:cover;
    background-image: url("../images/Star_War.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span{
   /* background-color: aquamarine; */
    font-size: 30px;
    text-align: center;
    color:blueviolet
}

h1{
    background-color: aquamarine;
    font-size: 55px;
    text-align: center;
}

h3{
    font-size: 25px;
    color:darkblue;
    background-color: aliceblue;
    text-align: center;
}

.myClass{
    height:200px;
    width:250px;
}

#characters, #myCharacter, #enemy ,#EnemyScore, #MyScore, #attack{
    text-align: center;
}
