body{
    background-size:cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    background-color: aquamarine;
    font-size: 45px;
    text-align: center;
}

h3{
    font-size: 25px;
    color:coral;
}

.myClass{
    height:200px;
    width:250px;
}