body{
    background-size:cover;
    background-image: url("../images/Star_War.jpg");
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
   /* background-color: aquamarine; */
    font-size: 30px;
    text-align: center;
    color:blue;
}

h1{
    background-color: aquamarine;
    font-size: 55px;
    text-align: center;
}

.characterDsiplay{
    font-size: 25px;
    color:darkblue;
    /*background-color: aliceblue;*/
    text-align: center;
    font-weight: bolder;
    width: 100%;
}

.myClass{
    height:150px;
    width:200px;
}

#characters, #myCharacter, #enemy ,#EnemyScore, #MyScore, #attack, #Message{
    text-align: center;
}
